@charset "utf-8";

// var 
$paimary-color: #333 !default;
$second-color: #efefef !default;

$height: 80px;

// placeholder
%textcenter {
  text-align: center;
}



body {
  font: 14px arial, sans-serif;
  color: #fff;
}
ul {
  margin: 0;padding: 0;list-style:none;
}

a{
  color: #fff;
  &:hover {
    color: $second-color;
  }
}

h1{margin: 0;}


.wrap {
  width: 640px;
  height: 960px;
  overflow: hidden;
  margin: 1em auto;
  background: $second-color;
  position: relative;
}

a {
     background : linear-gradient(to top, black, white);
     display : flex
}
::placeholder {
     color : #ccc
}
